<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastP</key>
	<string>Alabama</string>
	<key>nextP</key>
	<string>Gators</string>
	<key>w_l</key>
	<string>10/2</string>
	<key>Div</key>
	<string>SEC</string>
	<key>tName</key>
	<string>LSU</string>
</dict>
</plist>
