<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FavoriteTeam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E01C3901BD17A8E00976A09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E01C3A41BD17A8E00976A09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E01C3AF1BD17A8E00976A09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
